---
import Double from "./views/double.html";

let name;
let age;
---

<script>
	let d = document.querySelector("div");
	d.style.border = "1px solid red";
</script>

<div>{name}'s age is: {age}</div>

{if age > 200}
	<div class="dead">Dead</div>
{else if age > 80}
	<div class="old">Well done</div>
{else if age > 40}
	<div class="mid">Over the hill</div>
{else if age > 21}
	<div class="young">Can drink</div>
{else}
	<div class="new">Just a baby</div>
{/if}

<Double {age} />

<style>
	div.dead {
		color: red;
	}
	div.old {
		color: green;
	}
	.mid {
		color: orange;
	}
	.young {
		color: blue;
	}
	.new {
		color: pink;
	}
</style>
