---
import Double from "./views/double.html";

prop name;
prop age;

let path = "./views/mycomp.html";
let text = "something";
---

<script>
	let d = document.querySelector("div");
	d.style.border = "1px solid red";

	let t = document.querySelector(".todos")
	fetch('https://jsonplaceholder.typicode.com/todos')
		.then(response => response.json())
		.then(json => {
			t.innerHTML = json.slice(0, 8).map(todo => "<tr><td>" + todo.title + "</td><td>" + todo.completed + "</td></tr>").join('');
		})
</script>

<div class="container">
	<div>{name}'s age is: {age}</div>

	{if age > 200}
		<div class="dead">Dead</div>
	{else if age > 80}
		<div class="old">Well done</div>
	{else if age > 40}
		<div class="mid">Over the hill</div>
	{else if age > 21}
		<div class="young">Can drink</div>
	{else}
		<div class="new">Just a baby</div>
	{/if}

	<Double {age} />
	<Double {age} {text} />
	<="./views/mycomp.html" {age} />
	<={path} />
	<="./views/mycomp.html" {age} />
</div>

<table>
	<thead>
		<tr>
			<th>Todo</th>
			<th>Completed</th>
		</tr>
	</thead>
	<tbody class="todos">
	</tbody>
</table>

<style>
	.container {
		background-color: gray;
	}
	div > div {
		font-size: 2rem;
	}
	div.dead {
		color: red;
		font-weight: bold;
	}
	div.old {
		color: green;
	}
	.mid {
		color: orange;
	}
	.young {
		color: blue;
	}
	.new {
		color: pink;
	}
</style>
