---
import Age from "./views/age.html";
import Head from "./views/head.html";
import Todos from "./views/todos.html";

prop name;
prop age;
prop animals;
prop test = "whatever";

let text = "something";

var salutation = "hola";
//var salutation;

let path = "./views/mycomp.html";
let comp = "mycomp";
---

<!DOCTYPE html>
<html lang="en">
	<Head />
	<body>
		<main>
			<h1>{salutation} {name}</h1>
			<span>{test}</span>
			<div>Random div</div>
			{if name === "John"}
				<div id="praise">John is great</div>
			{else}
				<div id="praise">Not sure who you are, but you're probably great</div>
			{/if}
			{if age > 0}
				<Age {name} {age} />
				<Todos number={age + 5} />

				<Age {name} age={50} />
				<Todos number={14} />

				<Age {name} age={201} />
				<Todos number={7 - 2} />
			{/if}

			<="./views/mycomp.html" {age} />
			<={path} />
			<="./views/{comp}.html" age={age + 1} />

			<div class="animals">
				{for let animal of ["new animal", ...animals]}
					<div class="type-{animal}">{name} likes: {animal}s</div>
					<div>Backwards: s{animal.split('').reverse().join('')}</div>
					<button onclick="{animals.filter(a => a !== animal)}">Remove {animal}</button>
					<br><br>
				{/for}
			</div>
			<div>
				<h3>Add new animal:</h3>
				<input type="text" placeholder="animal name">
				<button onclick="{animals = ['new', ...animals]}">Submit</button>
			</div>
		</main>
	</body>
</html>

<style>
	h1 {
		color: yellow;
	}
	body #praise {
		font-size: 3rem;
	}
	span {
		color: purple;
	}
	.animals {
		background-color: black;
		color: white;
	}
</style>