---
import Age from "./views/age.html";
import Head from "./views/head.html";
import Todos from "./views/todos.html";

prop name;
prop age;
prop test = "whatever";

var salutation = "hola";
//var salutation;
---

<!DOCTYPE html>
<html lang="en">
	<Head />
	<body>
		<main>
			<h1>{salutation} {name}</h1>
			<span>{test}</span>
			<div>Random div</div>
			{if name === "John"}
				<div id="praise">John is great</div>
			{else}
				<div id="praise">Not sure who you are, but you're probably great</div>
			{/if}
			{if age > 0}
				<Age {name} {age} />
				<Todos number={age + 5} />

				<Age {name} {age} />
				<Todos number={14} />

				<Age {name} {age} />
				<Todos number={7 - 2} />
			{/if}
			<div class="animals">
				{for let animal of ["cat", "dog", "whale"]}
					<div>{name} likes: {animal}s</div>
				{/for}
			</div>
		</main>
	</body>
</html>

<style>
	h1 {
		color: yellow;
	}
	body #praise {
		font-size: 3rem;
	}
	span {
		color: purple;
	}
	.animals {
		background-color: black;
		color: white;
	}
</style>
